* {
    padding: 0;
    margin: 0;
}

main {
    border: 1px solid #000000;
    padding: 2px;
    background-color: whitesmoke;
    height: auto;
    width: 98%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left {
    background-color: azure;
    padding: 4px;
    width: 18%;
    display: flex;
    align-items: flex-start;
}

.left ul li {
    list-style: none; 
    font-size: 16px;
}

.left ul li a {
    text-decoration: none;
   
}

.middle-up {
    width: 60%;
    border: 1px solid black;
    padding: 4px;

}

.middle-up ul {
    margin-left: 28px;
}

.middle-up ul li {
    list-style-type: square;
}


.right {
    display: flex;
    background-color: antiquewhite;
    align-items: center;
    width: 18%;
    padding: 5px;
}

nav {
    background-color: #3500f5;
    padding: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

nav ul li {
    margin-right: 15px;
    color: #FFF;
}

nav ul li a{
    color: white;
}

header {
    background-color: rgb(176, 204, 222);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}